/* Este partial contiene los estilos generales que se van a utilizar a lo largo de toda la página */
@import "variables";

/* Estilo aplicable a toda la página */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-size: 16px;
}

/* Estilo del texto general versión mobile */
body {
  font-family: $text_font;
  color: $text_color;
  font-size: $text_size_mobile;
}

/* Estilos de los buttons */
.button {
  @extend %button_mobile;
  &:hover {
    @extend %button-hover;
  }
}
