/* Este partial contiene los estilos para la versión desktop */
@import "variables";

/* Navbar horizontal */
@media (min-width: 736px) {
  .navbar .navlist {
    clear: none;
    float: right;
    margin-right: 80px;
    max-height: none;
    background-color: white;
    .navlinks {
      float: left;
      a {
        padding: 20px 30px;
        color: $text_color;
        &:nth-child(1) {
          padding-top: 20px;
        }
      }
    }
  }
  .navbar .menu-icon {
    display: none;
  }
  /* Main-header */
  .main-header h1 {
    font-size: $maintitle_size_desk;
    .pale {
      display: inline;
    }
    .dot {
      color: #0000ec;
    }
  }
  .main-header p {
    font-size: $text_size;
    width: 43%;
  }
  .main-header .form .button {
    flex-grow: 0;
  }
  .main-header {
    padding-left: 60px;
  }
}
