@import "variables";
/* Este partial le da estilo al "Footer" */
.footer {
  padding: 1.5rem 2.94rem 1.94rem;
  /*   display: flex;
  flex-flow: column nowrap;
  align-items: center; */
  &__text {
    margin-bottom: 1rem;
    font-family: $text_font;
    font-size: $text_size_mobile;
    color: $text_color;
    line-height: 1.375rem;
    text-align: center;
  }
  .social {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    &__link {
      color: $text_color;
    }
  }
}
