@import "variables";
/* Este partial le da estilo a la sección "Galery" del HTML */
.galery__title {
  margin: 0 1rem 0.88rem;
  font-family: $title_font;
  font-size: $title_size_mobile;
  color: $text_color;
  line-height: 2.625rem;
}

.img-container {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: 100vw;
  &__img {
    width: 100%;
    height: 15.19rem;
  }
}
