@import "variables";
/* Este partial le da estilo a la sección "Hero" */
.main {
  padding-top: 90px;
}
.hero {
  display: flex;
  flex-direction: column;
  padding: 20px;
  &__title {
    @extend %title_mobile;
    line-height: 42px;
    font-weight: normal;
    .firstline {
      text-decoration: line-through;
    }
    .secondline {
      display: block;
    }
  }
  &__text {
    margin: 5px 0;
    font-size: $text_size_mobile;
    line-height: 22px;
    text-align: justify;
  }
}
.button {
  margin-top: 20px;
}
