/* En este partial se definen los estilos entre 599px y 736px y mayores*/
@import "variables";
@media screen and (min-width: 599px) {
  /* ************HERO************ */
  .hero__text {
    font-size: $text_size_desk;
    width: 43%;
  }
  .button {
    width: 20%;
    &__text {
      font-size: $buttontext_size_desk;
    }
  }
  /* ******** US ********* */
  .us {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-bottom: 0;
    .float__img {
      width: 21.875rem;
      height: 41.25rem;
    }
    .text-container {
      align-self: flex-start;
      flex-basis: 30%;
      margin-left: 2rem;
      &__title {
        margin-top: 1.28rem;
        margin-bottom: 1.28rem;
      }
    }
  }
  /* ******* GALERY ******* */
  .img-container {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 50%);
  }
  /* ****** TOPICS ******* */
  .topics .topic-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  /* ***** NEWS ***** */
  .button--news {
    width: 19rem;
  }
}
@media screen and (min-width: 768px) {
  /* *****NAVBAR****** */
  .header__nav .navlist {
    clear: none;
    float: right;
    margin-right: 80px;
    max-height: none;
    background-color: white;
    .navlist__navlinks {
      float: left;
      a {
        padding: 20px 30px;
        color: $text_color;
        &:nth-child(1) {
          padding-top: 20px;
        }
        &:hover {
          color: $navlink_hover;
          text-decoration: line-through;
        }
      }
    }
  }
  .header__menu-icon {
    display: none;
  }
  /* **********EPISODES********** */
  .episodes {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: space-around;
    &__title {
      flex-basis: 100%;
    }
    .episode-box {
      width: 50%;
      padding: 2.25rem;
    }
  }
  /* ******** US ********* */
  .us {
    .float__img {
      width: 28.6rem;
      height: 41.25rem;
    }
    .text-container {
      flex-basis: 40%;
      margin-left: 3.9rem;
    }
  }
}
