@import "variables";
/* Este partial le da estilo a la sección "US" del HTML */
.us {
  margin: 0 1rem;
  margin-bottom: 3.38rem;
  .float {
    transform: translateY(-5.97rem);
    text-align: center;
    &__img {
      width: 80vw;
    }
  }
  .text-container__title {
    margin-top: -4.28rem;
    margin-bottom: 0.5rem;
    font-family: $title_font;
    font-size: $title_size_mobile;
    line-height: 42px;
    .span {
      margin-top: 0.1px;
      display: block;
    }
  }
  .text-container__text {
    font-family: $text_font;
    color: $text_color;
    font-size: $text_size_mobile;
    line-height: 1.375rem;
  }
  .first_text {
    margin-bottom: 0.8125rem;
  }
}
