/* Este partial contiene todas las variables que se van a utilizar en los demás partials */

/* Colores */
$text_color: #060a24;
$menu_color: #0000ec;
$background_1: #0000ff;
$background_2: #0000a3;
$button_color: #00f3bb;

/* Fuentes */
$title_font: "IBM Plex Sans", sans-serif;
$text_font: "IBM Plex Mono", monospace;

/* Tamaños */
$maintitle_size: 64px;
$titles_size: 48px;
$buttontext_size: 18px;
$text_size: 16px;
$img_titles: 24px;
