/* Este partial contiene todas las variables que se van a utilizar en los demás partials */

/* Colores */
$text_color: #060a24;
$menu_color: #0000ec;
$background_1: #0000ff;
$background_2: #0000a3;
$button_color: #00f3bb;
$navlink_hover: #00f3bb;
$navlink_active: rgba(6, 10, 36, 0.56);

/* Fuentes */
$title_font: "IBM Plex Sans", sans-serif;
$text_font: "IBM Plex Mono", monospace;

/* Tamaños de fuentes mobile*/
$title_size_mobile: 36px;
$text_size_mobile: 14px;
$img_text: 24px;
$buttontext_size_mobile: 16px;

/* Tamaños de fuentes desktop */
$title_size_desk: 48px;
$text_size_desk: 16px;
$buttontext_size_desk: 18px;

/* Estilos de los botones versión mobile */
%button_mobile {
  color: $text_color;
  font-size: $buttontext_size_mobile;
  background-color: $button_color;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  padding: 10px;
}

%button-hover {
  color: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(0, 240, 184, 1) 0%,
    rgba(0, 0, 254, 1) 100%
  );
}

/* Estilo de los títulos h1 y h2 de versión mobile */
%title_mobile {
  font-family: $title_font;
  font-size: $title_size_mobile;
  color: $text_color;
}
